// ─────────────────────────────────────────────────
// NIRI CONFIG
// ─────────────────────────────────────────────────


// INPUT
input {

    keyboard {
        xkb {
            layout "us,ru"
            options "grp:caps_toggle"
        }

        repeat-delay 600
        repeat-rate 25
    }

    touchpad {
        tap
        // natural-scroll
        accel-speed 0.3
        accel-profile "adaptive"
        scroll-method "two-finger"
    }

    mouse {
        accel-speed 0.3
        accel-profile "flat"
    }

    warp-mouse-to-focus

    focus-follows-mouse max-scroll-amount="0%"
}


// OUTPUTS
output "eDP-1" {
    mode "1920x1080@60"
    scale 1.0
    position x=0 y=0
}

output "HDMI-A-1" {
    mode "1920x1080@60"
    scale 1.0
    position x=0 y=-1080
}


// LAYOUT
layout {

    gaps 2

    center-focused-column "always"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width {
        proportion 0.5
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        off
    }

    border {
        on
        width 1
        active-gradient from="#89b4faee" to="#b4befeee" angle=45
        inactive-color "#1e1e2eee"
    }

    shadow {
        on
        softness 20
        spread 5
        offset x=5 y=5
        color "#00000055"
    }

    insert-hint {
        on
        color "#89b4fa80"
    }

    tab-indicator {
        width 4
        active-color "#89b4fa"
        inactive-color "#45475a"
        urgent-color "#f38ba8"
    }
}


// ANIMATIONS
animations {
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=2000 epsilon=0.001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=2000 epsilon=0.001
    }

    workspace-switch {
        spring damping-ratio=1.0 stiffness=2000 epsilon=0.001
    }

    window-open {
        duration-ms 100
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 100
        curve "ease-out-expo"
    }
}


// CURSOR
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}


// ENV
environment {

    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    XDG_SESSION_DESKTOP "niri"

    GDK_SCALE "1"

    XCURSOR_THEME "Bibata-Modern-Ice"
    XCURSOR_SIZE "24"

    QT_QPA_PLATFORM "wayland"
    MOZ_ENABLE_WAYLAND "1"
}


// STARTUP
spawn-at-startup "dunst"
spawn-at-startup "waybar"
spawn-at-startup "hypridle"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

spawn-at-startup "sh" "-c" "~/.config/hypr/scripts/wallpaper 11"
spawn-at-startup "sh" "-c" "~/.config/hypr/scripts/battery-check"


// WORKSPACES
workspace "coding" {}
workspace "browsing" {}
workspace "chatting" {}
workspace "documents" {}
workspace "multimedia" {}



prefer-no-csd

// WINDOW RULES

// coding
window-rule {
    match app-id="jetbrains-phpstorm"
    open-on-workspace "coding"
}

window-rule {
    match app-id="postman"
    open-on-workspace "coding"
}


// browsing

window-rule {
    match app-id="zen"
    open-on-workspace "browsing"
}

window-rule {
    match app-id="firefox"
    open-on-workspace "browsing"
}

window-rule {
    match app-id="chromium"
    open-on-workspace "browsing"
}

window-rule {
    match app-id="google-chrome"
    open-on-workspace "browsing"
}


// chatting
window-rule {
    match app-id="org.telegram.desktop"
    open-on-workspace "chatting"
}
window-rule {
    match app-id="com.ayugram.desktop"
    open-on-workspace "chatting"
}

window-rule {
    match app-id="discord"
    open-on-workspace "chatting"
}

window-rule {
    match app-id="teams-for-linux"
    open-on-workspace "chatting"
}


// multimedia
window-rule {
    match app-id="com.obsproject.Studio"
    open-on-workspace "multimedia"
}

window-rule {
    match app-id="yandexmusic"
    open-on-workspace "multimedia"
}


// documents

window-rule {
    match app-id="obsidian"
    open-on-workspace "documents"
}

window-rule {
    match app-id="onlyoffice-desktopeditors"
    open-on-workspace "documents"
}

window-rule {
    match app-id="libreoffice-startcenter"
    open-on-workspace "documents"
}


// floating apps
window-rule {
    match app-id="blueman-manager"
    open-floating true
}

window-rule {
    match app-id="pavucontrol"
    open-floating true
}


// picture in picture
window-rule {
    match title="Picture-in-Picture"
    open-floating true
}


// no decorations for alacritty
window-rule {
    match app-id="Alacritty"
    draw-border-with-background false
}

// rounded windows
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}


// maximize by default
window-rule {
    open-maximized true
}



// KEYBINDS
binds {

    // apps
    Mod+Return { spawn "alacritty"; }

    Mod+E { spawn "thunar"; }

    Mod+D { spawn-sh "~/.config/rofi/launcher/launcher.sh"; }

    Mod+P { spawn-sh "~/.config/rofi/powermenu/powermenu.sh"; }

    Mod+W { spawn-sh "~/.config/rofi/wallpapers/wallpaper.sh"; }

    Mod+B { spawn-sh "~/.config/hypr/scripts/bar"; }

    Mod+N { spawn "dunstctl" "set-paused" "toggle"; }

    Mod+O { spawn "slurp"; }


    // screenshots
    Print { screenshot; }
    Mod+Print { screenshot-screen; }
    Mod+F12 { spawn-sh "~/.config/hypr/scripts/screenshot no_slurp"; }
    Mod+Shift+F12 { spawn-sh "~/.config/hypr/scripts/screenshot slurp"; }

    // volume
    XF86AudioLowerVolume { spawn "pamixer" "-u" "-d" "5"; }
    XF86AudioRaiseVolume { spawn "pamixer" "-u" "-i" "5"; }
    XF86AudioMute { spawn "pamixer" "-m"; }
    Mod+F10 { spawn "pamixer" "-u" "-d" "5"; }
    Mod+F11 { spawn "pamixer" "-u" "-i" "5"; }

    // brightness
    XF86MonBrightnessDown { spawn "brightnessctl" "set" "5%-"; }
    XF86MonBrightnessUp { spawn "brightnessctl" "set" "5%+"; }

    // media
    XF86AudioPlay { spawn "playerctl" "play-pause"; }
    XF86AudioNext { spawn "playerctl" "next"; }
    XF86AudioPrev { spawn "playerctl" "previous"; }


    // window control
    Mod+Q { close-window; }

    Mod+F { fullscreen-window; }

    Mod+S { toggle-window-floating; }

    Mod+C { center-column; }


    // move
    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+J { focus-workspace-down; }
    Mod+K { focus-workspace-up; }
    //Mod+H { move-column-left; }
    //Mod+L { move-column-right; }
//    Mod+J { move-window-down; }
 //   Mod+K { move-window-up; }


    // resize
    Mod+Alt+H { set-column-width "-10%"; }
    Mod+Alt+L { set-column-width "+10%"; }
    Mod+Alt+J { set-window-height "+10%"; }
    Mod+Alt+K { set-window-height "-10%"; }


    // tabs
    Mod+Ctrl+W { toggle-column-tabbed-display; }


    // overview
    Mod+Grave { toggle-overview; }


    // workspaces
    Mod+1 { focus-workspace "coding"; }
    Mod+2 { focus-workspace "browsing"; }
    Mod+3 { focus-workspace "chatting"; }
    Mod+4 { focus-workspace "documents"; }
    Mod+5 { focus-workspace "multimedia"; }
    Mod+6 { focus-workspace 6; }

}
